{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": false,
        "displayName": false,
        "preprocess": false
      }
    ]
  ],
  "env": {
    // ビルドしたファイルからはクラス名を知る必要はないため、
    // "displayName": falseにして少しでもwebページの解析速度を上げる
    "production": {
      "plugins": [
        [
          "styled-components",
          { "ssr": false, "displayName": false, "preprocess": false }
        ]
      ]
    }
  }
}
